html {
  --primaryColor: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.6px;
}

h1,
h2 {
  letter-spacing: 1px;
}

#wrapper {
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
  border: 1px solid lightgray;
}

#page-banner {
  background: var(--primaryColor);
  text-align: center;
}

#page-banner h1 {
  padding: 10px;
}

#page-banner p {
  padding: 10px;
}

nav {
  background-color: #eee;
  padding: 10px;
  height: 100%;
}
nav ul {
  line-height: 2em;
  text-decoration: none;
}
nav ul li {
  font-size: 16px;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: #777;
}
nav ul li a:hover {
  color: black;
}

.services {
  margin: 20px 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
  padding: 10px;
}

.services ul {
  list-style: none;
}

.services ul li {
  padding: 10px;
}

.give {
  margin: 20px 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
  padding: 10px;
}

.give p {
  padding: 8px;
}

.give .bank {
  padding-left: 15px;
}

#members {
  margin: 30px 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
  padding: 10px;
}

#members ul,
#tabbed-content ul {
  list-style-type: none;
  padding: 0;
}

#members li {
  padding: 20px;
  border-left: 5px solid var(--primaryColor);
  margin: 20px 10px;
}

#members li:hover {
  border-color: #777;
}

.name {
  text-transform: capitalize;
}

.join {
  margin: 30px 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
  padding: 20px;
}

.join p {
  padding-bottom: 20px;
}

.join input[type="text"] {
  padding: 10px;
  width: 200px;
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
}

.join button {
  width: 70px;
  padding: 10px;
  background-color: var(--primaryColor);
  border: 1px solid white;
  cursor: pointer;
  border-radius: 4px;
}

.join button:hover {
  background: #777;
}

#gallery {
  margin: 20px 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
  padding: 10px;
}

#gallery h2 {
  padding-bottom: 10px;
}

#gallery .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.image {
  width: 100%;
  height: 100%;
}

.youth {
  margin: 20px 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
  padding: 10px;
}

.youth h2 {
  padding-bottom: 10px;
}

.youth p {
  line-height: 25px;
}

.children {
  margin: 20px 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
  padding: 10px;
}

.children h2 {
  padding-bottom: 10px;
}

.children p {
  line-height: 25px;
}

#tabbed-content li {
  display: inline-block;
  padding: 10px 14px;
  background: var(--primaryColor);
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
  margin-right: 10px;
}

#tabbed-content .panel {
  display: none;
  border: 1px solid var(--primaryColor);
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
}

#tabbed-content .panel.active {
  display: block;
}

.panel form {
  padding-top: 10px;
}

.panel form input {
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
}

.panel form a {
  width: 70px;
  padding: 10px;
  background-color: var(--primaryColor);
  border: 1px solid white;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}

.panel form a:hover {
  background: #777;
}

.salvation {
  margin: 30px 0 0 0;
  border: 1px solid var(--primaryColor);
  border-radius: 10px 10px 0 0;
  padding: 10px;
  background: #eee;
}

.salvation input,
textarea {
  display: block;
  margin-top: 20px;
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
  padding: 10px;
  margin-left: 10px;
}

textarea {
  resize: none;
}

.salvation a {
  width: 70px;
  padding: 10px;
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  display: block;
  margin: 20px 0 0 10px;
}

.salvation input[type="checkbox"] {
  display: inline-block;
}

.salvation a:hover {
  background: #777;
}

footer {
  text-align: center;
  background: var(--primaryColor);
  padding: 20px;
}

@media screen and (min-width: 560px) {
  nav ul {
    white-space: nowrap;
    max-width: 1200px;
    text-align: center;
  }
  nav li {
    width: 25%;
    display: inline-block;
  }
}

@media screen and (min-width: 700px) {
  #gallery .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1030px) {
  #gallery .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
